(website) {
  encode gzip

  handle /discord {
    redir https://discord.gg/sia permanent
  }

  # Redirect old /docs routes to api subdomain
  handle_path /docs* {
    redir https://api.sia.tech/renterd permanent
  }

  # Redirect old paths
  redir /jobs https://siafoundation.homerun.co permanent
  redir /blog https://blog.sia.tech permanent
  redir /whitepaper.pdf /sia.pdf permanent
  redir /get-started / permanent
  redir /apps / permanent
  redir /download / permanent
  redir /downloads / permanent
  redir /developers / permanent
  redir /about /learn permanent
  redir /newsroom /news permanent
  redir /img/svg/sia-wordmark.svg /wordmark.svg permanent
  redir /img/svg/sia-green-logo.svg /logo-green.png permanent
  redir /get-siacoin /community-ecosystem?software=exchanges#software permanent

  # Redirect news paths
  redir /siafoundation /newsroom/2021-foundation permanent
  redir /funding2016 /newsroom/2021-foundation permanent
  redir /2017grant /newsroom/2021-foundation permanent
  redir /funding2019 /newsroom/2021-foundation permanent
  redir /settlement2019 /newsroom/2021-foundation permanent
  redir /funding2020 /newsroom/2021-foundation permanent
  redir /skydb2020 /newsroom/2021-foundation permanent
  redir /skynet2020 /newsroom/2021-foundation permanent

  handle /releases* {
    reverse_proxy localhost:3002
  }

  handle /transparency* {
    reverse_proxy localhost:3002
  }

  handle /rss* {
    reverse_proxy localhost:3002
  }

  handle /assets* {
    reverse_proxy localhost:3002
  }

  handle /downloads* {
    uri replace /downloads /api/downloads
  }
}

sia.tech {
  import website
  reverse_proxy localhost:3001
}

(cloudflare) {
  tls {
    dns cloudflare {$CADDY_CLOUDFLARE_TOKEN}
  }
}

beta.sia.tech {
  import website
  reverse_proxy localhost:3009
}

api.sia.tech {
  route {
    handle /renterd {
      rewrite * /view/23671177/2s93RUsqo6
      reverse_proxy https://documenter.getpostman.com
    }
    handle /hostd {
      rewrite * /view/737767/2s93Xu2koJ
      reverse_proxy https://documenter.getpostman.com
    }
    handle /walletd {
      rewrite * /view/737767/2s9XxtzGU4
      reverse_proxy https://documenter.getpostman.com
    }
    handle /view* {
      reverse_proxy https://documenter.getpostman.com
    }
    handle /api* {
      reverse_proxy https://documenter.getpostman.com
    }
    redir /* /renterd permanent
  }
}

explore.sia.tech {
  redir https://siascan.com{uri} permanent
}

zen.sia.tech {
  redir https://zen.siascan.com{uri} permanent
}

siascan.com {
  import cloudflare
  encode gzip
  reverse_proxy localhost:3003
}

zen.siascan.com {
  import cloudflare
  encode gzip
  reverse_proxy localhost:3005
}

beta.siascan.com {
  import cloudflare
  encode gzip
  reverse_proxy localhost:5005
}

api.siascan.com {
  import cloudflare
  encode gzip
  
  # temporary, will be included in the explorer API  
  route /metrics* {
    reverse_proxy localhost:10005
  }

  route /integrations* {
    reverse_proxy localhost:10005
  }

  route /zen/metrics* {
    uri strip_prefix /zen
    reverse_proxy localhost:11005
  }

  route * {
    respond 404
  }
}

siastats.info, www.siastats.info {
  route /navigator-api/web3index/revenue { # web3index.org redirect until PR is accepted
    uri replace /navigator-api/web3index/revenue /integrations/web3index/revenue
    reverse_proxy localhost:10005
  }

  route * {
    redir https://siascan.com 302
  }
}

host.sia.tech {
  encode gzip
  reverse_proxy localhost:3006
}

renter.sia.tech {
  encode gzip
  reverse_proxy localhost:3007
}

wallet.sia.tech {
  encode gzip
  reverse_proxy localhost:3008
}

www.sia.tech {
  redir https://sia.tech{uri} permanent
}

support.sia.tech {
  redir https://docs.sia.tech{uri} permanent
}
