version: '3.9'
services:
  caddy:
    container_name: caddy
    image: ghcr.io/n8maninger/docker-caddy-cloudflare:master
    restart: unless-stopped
    network_mode: host
    environment:
      CADDY_CLOUDFLARE_TOKEN: ${CADDY_CLOUDFLARE_TOKEN}
    ports:
      - 80:80
      - 443:443
    volumes:
      - /home/debian/projects/web/server/Caddyfile:/etc/caddy/Caddyfile
      - /home/debian/docker/caddy/data:/data
      - /home/debian/docker/caddy/config:/config
  web-website:
    image: ghcr.io/siafoundation/web-website
    container_name: web-website
    ports:
      - 3001:3000
    environment:
      GITHUB_TOKEN: ${GITHUB_TOKEN}
      NOTION_TOKEN: ${NOTION_TOKEN}
    volumes:
      - /home/debian/assets:/assets
    restart: unless-stopped
  web-website-beta:
    image: ghcr.io/siafoundation/web-website
    container_name: web-website-beta
    ports:
      - 3009:3000
    environment:
      GITHUB_TOKEN: ${GITHUB_TOKEN}
      NOTION_TOKEN: ${NOTION_TOKEN}
    volumes:
      - /home/debian/assets:/assets
    restart: unless-stopped
  web-assets:
    image: siafoundation/web-assets:latest
    volumes:
      - /home/debian/assets:/assets
    ports:
      - 3002:3000
  web-crons:
    image: siafoundation/web-crons:latest
    volumes:
      - /home/debian/assets:/assets
    environment:
      NOTION_TOKEN: ${NOTION_TOKEN}
  web-hostd:
    image: ghcr.io/siafoundation/web-hostd
    container_name: web-hostd
    ports:
      - 3006:3000
    restart: unless-stopped
  web-renterd:
    image: ghcr.io/siafoundation/web-renterd
    container_name: web-renterd
    ports:
      - 3007:3000
    restart: unless-stopped
  web-walletd:
    image: ghcr.io/siafoundation/web-walletd
    container_name: web-walletd
    ports:
      - 3008:3000
    restart: unless-stopped
  web-explorer:
    image: ghcr.io/siafoundation/web-explorer
    container_name: web-explorer
    ports:
      - 3003:3000
    restart: unless-stopped
  web-explorer-beta:
    image: siafoundation/web-explorer
    container_name: web-explorer-beta
    ports:
      - 5005:3000
    restart: unless-stopped
  web-explorer-testnet-zen:
    image: ghcr.io/siafoundation/web-explorer-testnet-zen
    container_name: web-explorer-testnet-zen
    ports:
      - 3005:3000
    restart: unless-stopped
  host-revenue-api:
    image: ghcr.io/siafoundation/host-revenue-api:master
    container_name: host-revenue-api
    restart: unless-stopped
    ports:
      - 10005:9980
    volumes:
      - /home/debian/docker/host-revenue-api:/data
  host-revenue-api-zen:
    image: ghcr.io/siafoundation/host-revenue-api:master-testnet
    container_name: host-revenue-api-zen
    restart: unless-stopped
    ports:
      - 11005:9880
    volumes:
      - /home/debian/docker/host-revenue-api-zen:/data
