name: Run sharded e2e tests

permissions:
  contents: read
  actions: write # Needed to upload blob reports as artifacts.

on:
  workflow_call:
    inputs:
      project:
        required: true
        type: string
      shardIndex:
        required: true
        type: number
      shardTotal:
        required: true
        type: number

jobs:
  test-e2e:
    runs-on: tenki-standard-autoscale
    steps:
      - name: Checkout all commits
        uses: actions/checkout@v3
        with:
          fetch-depth: 0
      # Full setup required since building the JS SDK requires Go.
      - name: Setup environment
        uses: ./.github/actions/setup-all
        with:
          bun_version: 1.2.18
          go_version: 1.24.3
      - name: Only run if ${{ inputs.project }} is affected
        id: check
        run: |
          AFFECTED=$(nx show projects --affected --projects=${{ inputs.project }})
          if [[ -z "$AFFECTED" ]]; then
            echo "${{ inputs.project }} is unaffected. Exiting."
            echo "continue=false" >> $GITHUB_OUTPUT
          else
            echo "${{ inputs.project }} is affected. Continuing."
            echo "continue=true" >> $GITHUB_OUTPUT
          fi
      - name: Install Playwright dependencies
        if: ${{ steps.check.outputs.continue == 'true' }}
        shell: bash
        run: bunx playwright install-deps
      - name: Test e2e for ${{ inputs.project }}
        if: ${{ steps.check.outputs.continue == 'true' }}
        shell: bash
        run: nx run ${{ inputs.project }}:e2e --shard=${{ inputs.shardIndex }}/${{ inputs.shardTotal }}
      - name: Upload blob report to GitHub Actions Artifacts
        if: ${{ steps.check.outputs.continue == 'true' && !cancelled() }}
        uses: actions/upload-artifact@v4
        with:
          name: ${{ inputs.project }}-blob-report-${{ inputs.shardIndex }}
          path: blob-report
          retention-days: 1
