name: PR
on:
  pull_request:

jobs:
  pr:
    runs-on: ubuntu-latest
    if: ${{ github.event_name == 'pull_request' }}
    steps:
      - name: Checkout all commits
        uses: actions/checkout@v3
        with:
          fetch-depth: 0
          token: ${{ secrets.COMMIT_PAT }}
      - name: Setup
        uses: ./.github/actions/setup
        with:
          node_version: 19.5.0
      - name: Commit lint
        shell: bash
        run: npx commitlint --from ${{ github.event.pull_request.base.sha }} --to ${{ github.event.pull_request.head.sha }}
      - name: Workspace lint
        shell: bash
        run: npx nx workspace-lint
      - name: Lint
        shell: bash
        run: npx nx affected --target=lint --parallel=5
      - name: Lint Go
        uses: golangci/golangci-lint-action@v3
        with:
          skip-cache: true
      - name: Test
        shell: bash
        run: npx nx affected --target=test --parallel=5
      - name: Test Go
        uses: n8maninger/action-golang-test@v1
        with:
          args: '-race'
      - name: Build
        shell: bash
        run: npx nx affected --target=build --configuration=ci --parallel=5
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          NOTION_TOKEN: ${{ secrets.NOTION_TOKEN }}
          ASSETS: ${{ github.workspace }}/assets
      - name: Export
        shell: bash
        run: npx nx affected --target=export --configuration=ci --parallel=5
