name: Manually Release a Beta Tag to NPM and GitHub

permissions:
  contents: write # Needed by changesets/action to create releases and update tags.

on:
  push:
    branches:
      - beta

# The beta release workflow requires an NPM_TOKEN for authentication.
env:
  NPM_TOKEN: ${{ secrets.NPM_TOKEN }}

concurrency: commits-to-beta

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout all commits
        uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - name: Overwrite .npmrc with NPM token
        run: echo "//registry.npmjs.org/:_authToken=${NPM_TOKEN}" > .npmrc
      - name: Setup
        uses: ./.github/actions/setup-all
        with:
          bun_version: 1.2.18
          go_version: 1.24.3
      - name: Check for prerelease mode
        id: check_pre
        run: |
          if [ -f .changeset/pre.json ]; then
            echo "run=true"
            echo "run=true" >> $GITHUB_OUTPUT
          else
            echo "run=false"
            echo "run=false" >> $GITHUB_OUTPUT
          fi
      - name: Build for publishing
        if: steps.check_pre.outputs.run == 'true'
        shell: bash
        run: nx run-many --target=build --configuration=production --all --parallel=5
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - name: Replace src code with dists for publishing
        if: steps.check_pre.outputs.run == 'true'
        run: ./scripts/replace-src-with-dists-for-publishing.sh
      - name: Publish beta prerelease to NPM and GitHub
        if: steps.check_pre.outputs.run == 'true'
        uses: changesets/action@v1
        with:
          publish: bunx changeset publish
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
